* {
    margin: 0px;
    padding: 0px;
}

.banner-bg {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;

    background-repeat: no-repeat;
    color: white;
}

.banner-content {
    text-align: center;
    padding-top: 300px;

}

.banner-content p {
    font-weight: 700;
    font-size: 20PX;
    padding-left: 300px;
    padding-right: 300px;
}

.banner-content h1 {
    font-weight: 800;
    font-size: 65px;
    padding-left: 7%;
    padding-right: 7%;
    width: 871px;
    margin: auto;

}

.banner-button {
    text-decoration: none;
    background-image: linear-gradient(orange,
            rgb(196, 52, 27));
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;

}

.banner-text {
    margin: auto;
    width: 656px;
    text-align: center;
}

.for-donate h1 {
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding-bottom: 18px;
    padding-top: 87px;
}

.for-donate p {
    margin: auto;
    text-align: center;

    width: 532px;
}

#parent-div button:focus {
    background-color: #FFEEEE;
    border: 2px solid orange;

    color: orange;
}

#parent-div button:active {
    background-color: #FFEEEE;

}




#parent-div button {
    height: 60px;
    width: 91px;
    margin: auto;
    text-align: center;
    border: transparent;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    margin-left: 11px;

}

#parent-div {
    margin: auto;
    text-align: center;
    margin-top: 42px;
}

input#amount-box {
    margin: auto;
    border: none;
    width: 517px;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid;
    height: 29px;
}

::-webkit-input-placeholder {
    text-align: center;
}

.amount {
    text-align: center;
    padding-top: 41px;
    padding-bottom: 10px;
}

.card-description-1 {
    width: 300px;
    height: 200px;
    

    padding: 30px;
    background-color: rgba(79, 157, 166, 0.1);

}

.card-description-2 {
    width: 300px;
    height: 200px;
    

    padding: 30px;
    background-color: rgba(255, 89, 89, 0.1);

}

.card-description-3 {
    width: 300px;
    height: 200px;
    

    padding: 30px;
    background-color: #FFF4D6;

}

.our-donation-plan {
    padding: 130px;


}

.card-description h3 {
    font-size: 25px;
    font-weight: 700px;
}

.cards {
    display: flex;

}

.card-description-1 {
    margin: 10px;
}

.card-description-2 {
    margin: 10px;
}

.card-description-3 {
    margin: 10px;
}